<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Volsion.Properties.Settings.poopstatsConnectionString"
             connectionString="Data Source=poopstats.db.9057935.hostedresource.com;Initial Catalog=poopstats;Persist Security Info=True;User ID=Poopstats;Password=Poop_Reader123" providerName="System.Data.SqlClient"
         />
    </connectionStrings>
</configuration>